@use 'variables' as var;

html,
body,
main {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, serif;
    font-weight: 200;
}

body,
main {
    margin-inline: auto;
    min-width: var.$minPageWidth;
    max-width: var.$maxPageWidth;
}

body {
    background-color: var.$defaultDarkerBackgroundColor;
}

main {
    background-color: var.$defaultBackgroundColor;
}