@use 'variables' as var;

$paddingVertical: var.$defaultGap;
$fontSize: 0.7em;
$height: calc(2 * $paddingVertical + $fontSize);

footer {
    height: $height;
    display: flex;
    background-color: var.$defaultBackgroundColor;
    
    #text {
        flex: 1;
        margin: auto $paddingVertical;
        font-size: $fontSize;
    }
}