@use 'variables' as var;

$maxHeight: 150px;
$minHeight: 55px;
$nameFontSize: 30px;
$preferredHeight: calc(2 * var.$defaultGap + $nameFontSize);

$height: clamp($minHeight, $preferredHeight, $maxHeight);

$zindex: 2;

$infoIconSize: 19px;

header {
    display: flex;
    position: sticky;
    top: 0;
    height: $preferredHeight;
    min-height: $minHeight;
    max-height: $maxHeight;
    box-sizing: border-box;
    z-index: $zindex;
    align-items: center;

    padding-inline: var.$defaultGap;
    background-color: var.$defaultBackgroundColor;
    font-size: $nameFontSize;

    a:focus-visible {
        outline: var.$focusOutline;
        outline-offset: 1.5px;
    }

    .name {
        font-weight: 500;
        text-decoration: none;
        color: var.$defaultTextColor;
    }

    .info {
        height: $infoIconSize;
        aspect-ratio: 1;

        padding: calc(($height - $infoIconSize) / 4);
        margin: calc(($height - $infoIconSize) / -4);
        margin-left: 0;
        margin-top: calc(($height - $infoIconSize) / -4 + 6px);
        
        svg {
            display: block;
            overflow: visible;
        }
    }

    .langcontainer {
        margin-left: auto;
        text-decoration: none;
        font-weight: lighter;
        font-size: .7em;
    }
}