@use 'variables' as var;

$maxHeight: 150px;
$minHeight: 55px;
$nameFontSize: 30px;
$preferredHeight: calc(2 * var.$defaultGap + $nameFontSize);

$height: clamp($minHeight, $preferredHeight, $maxHeight);

$zindex: 2;

$headerButtonSize: 19px;
$headerButtonTopMargin: 6px;

$headerGap: calc(($height - $headerButtonSize) / 4);

header {
    display: flex;
    position: sticky;
    top: 0;
    height: $preferredHeight;
    min-height: $minHeight;
    max-height: $maxHeight;
    box-sizing: border-box;
    z-index: $zindex;
    align-items: center;
    gap: $headerGap;

    padding-inline: var.$defaultGap;
    background-color: var.$defaultBackgroundColor;
    font-size: $nameFontSize;

    a:focus-visible {
        outline: var.$focusOutline;
        outline-offset: 1.5px;
    }

    .name {
        font-weight: 500;
        text-decoration: none;
        color: var.$defaultTextColor;
    }

    .headerbutton {
        height: $headerButtonSize;
        aspect-ratio: 1;
        margin-top: $headerButtonTopMargin;
        
        svg {
            display: block;
            overflow: visible;
            height: inherit;
            width: inherit;
        }
    }

    .langbutton {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        background-color: black;
        border-radius: 50px;
        padding: 3px;
        font-size: 9px;
        // height: 19px;
        box-sizing: border-box;
        // aspect-ratio: 1;
        // margin-top: 5px;
    }
}