@use 'variables' as var;

$maxCardWidth: var.$desktopWorksListBreakpoint;
$minCardMobileWidth: 180px;
$minCardDesktopWidth: 180px;
$maxCardDesktopWidth: 380px;
$cardZindex: 0; // not used directly yet

.card {
    position: relative;
    overflow-wrap: break-word;

    // min-width: $minCardMobileWidth;
    max-width: $maxCardWidth;

    .imageContainer {
        background-color: var.$defaultDarkerBackgroundColor;
    }

    img {
        width: 100%;
        height: auto;
    }

    .description {

        .title {
            margin: 0;
            font-weight: 500;
        }

        .extra {
            margin: 0;
            font-size: 0.8em;
            color: var.$defaultPaleTextColor;
        }
    }

    a {
        position: static;

        span.a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: calc($cardZindex + 1);
        }
    }
}