<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,follow">
        <meta name="googlebot" content="index,follow">

        <meta name="author" content="{{ 'meta.author' | i18n }}">
        <meta name="description" content="{{ 'meta.description' | i18n }}">
        <meta name="copyright" content="Copyright 2014 – current Lena Mukosey. При цитировании ссылка (гиперссылка) на источник обязательна. Все логотипы и названия принадлежат их уважаемым владельцам.">
        <meta name="keywords" content="{{ 'meta.keywords' | i18n }}">

        <title>{{ title }}</title>

        <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(94506450, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/94506450" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

        <link rel="icon" href="/assets/favicon/duck_lusha_final.svg" type="image/svg+xml">
        <link rel="icon" href="/assets/favicon/favicon_for_dark.png" type="image/png" media="(prefers-color-scheme: dark)" sizes="any">
        <link rel="icon" href="/assets/favicon/favicon_for_light.png" type="image/png" media="(prefers-color-scheme: light)" sizes="any">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap" rel="stylesheet">

        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}">
        {% for link in page.url | locale_links %}
          <link rel="alternate" hreflang="{{ link.lang }}" href="{{ link.url }}">
        {% endfor %}

        {% if scss is defined %}
            {# <link rel="stylesheet" type="text/css" href="{{ style | prefixWithStylesPath | rev }}"> #}
            <style>
                {{ scss | safe }}
            </style>
        {% endif %}
    {% endblock %}
</head>
<body {% if '/info' in page.url %} itemscope itemtype="https://schema.org/Person" {% endif %}>
    {% block header %}
        {% include 'default-header.njk' %}
    {% endblock %}

    {% block content %}
        <main>
            {{ content | safe }}
        </main>
    {% endblock %}

    {% block footer %}
        {% include 'default-footer.njk' %}
    {% endblock footer %}

    {% if script is defined %}
        {% set js %}
            {% include "../assets-inline/script/" + script %}
        {% endset %}
        <script>
            {{ js | safe }}
        </script>
    {% endif %}

</body>
</html>