<header {% if '/info' not in page.url %}itemscope itemtype="https://schema.org/Person"{% endif %}>
    <a id="name" href="/"><span itemprop="name">Lena Mukosey</span></a>
    <a id="info" href="/info" itemprop="sameAs">
        {% include "../assets-inline/svg/info-icon.svg" %}
    </a>
</header>