<footer>
    <div class="text">
        © {{ 'footer.copyright.name' | i18n }} 2014 –&nbsp;<script>document.write((new Date()).getFullYear())</script>
        {# en dash is used for dates (U+2013) #}
    </div>
</footer>