---
layout: 'base.njk'
script: 'index.js'
---

<div class="cardContainer">
    {% asyncEach work in collections.worksSortedRespectingOrder %}
        {% include "work-card.njk" %}
    {% endeach %}
</div>