---
layout: 'base.njk'
---

{% imageWithPlaceholder avatarPhoto,
    avatarPhotoAlt,
    [285, 675, 950, 1170, 1350],
    "(max-width: 549px) calc(100vw - 2 * 20px), (max-aspect-ratio: 600 / 360) and (max-width: 1410px) calc((100vw - 3 * 20px) / 2), (max-width: 1410px) calc((100vh - 2 * 20px) / 4 * 3), (max-height: 900px) calc((100vh - 2 * 20px) / 4 * 3), calc((1410px - 3 * 20px) / 2)",
    lazy = false
%}
<div class="textAndContactsContainer">
    <div class="contactsContainer">
        {% for item in social %}
            <div>{{ item.name }}{% if item.name %}: {% endif %}<a itemprop="sameAs" href="{{ item.link }}" {% if item.target_blank %}target="_blank"{% endif %}>{{ item.text }}</a></div>
        {% endfor %}
    </div>
    <span class="text" itemprop="description">{{ text }}</span>
</div>