{% extends "base.njk" %}

{% block content %}
    <main>
        <div class="photo-and-contacts">
            {% image avatarPhoto,
                avatarPhotoAlt,
                [285, 675, 950, 1170, 1350],
                "(min-width: 1500px) 675px, (min-width: 460px) calc(46.57vw - 14px), (min-width: 400px) calc(100vw - 40px), calc(68.75vw + 79px)",
                lazy = false
            %}

            <div class="containerContacts">
                {% for item in social %}
                    <div>{{ item.name }}: <a itemprop="sameAs" href="{{ item.link }}" {% if item.target_blank %}target="_blank"{% endif %}>{{ item.text }}</a></div>
                {% endfor %}
            </div>
        </div>
        <div class="textContainer">
            <span class="text" itemprop="description">{{ text }}</span>
        </div>
    </main>
{% endblock content %}