<div class="card">
    <div class="imageContainer">
        {% image work.data.images[0],
            "Alt!",
            [250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 'auto'],
            "(max-width: 250px) calc(250px - max(5vw,30px)),
             (max-width: 425px) calc(100vw - max(5vw,30px)),
             (max-width: 645px) calc((100vw - max(5vw,30px) - 20px) / 2),
             (max-width: 867px) calc((100vw - max(5vw,30px) - 20px) / 3),
             (max-width: 1089px) calc((100vw - max(5vw,30px) - 20px) / 4),
             (max-width: 1310px) calc((100vw - max(5vw,30px) - 20px) / 5),
             calc((100vw - max(5vw,30px) - 20px) / 6)
            ",
            work.data.objectPosition
        %}
    </div>
    <div class="description">
        <p class="title">
            {{ work.data.title }}
        </p>
        <p class="extra">
            {{ work.data.extra }}
        </p>
    </div>
    <a tabindex="-1" href="{{ work.url }}"><span tabindex="0"></span></a>
</div>