<div class="card" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="imageContainer">
        {% set imageAlt %}{{ work.data.title[page.lang] }}{% endset %}
        {% image work.data.images[0],
            imageAlt,
            [135, 220, 405, 660],
            "(max-width: 620px) calc((100% - 3 * 20px) / 2), (max-width: 820px) calc((100% - 4 * 20px) / 3), (max-width: 1019px) calc((100% - 5 * 20px) / 4), (max-width: 1219px) calc((100% - 6 * 20px) / 5), calc((100% - 7 * 20px) / 6)"
        %}
    </div>
    <div class="description">
        <p class="title">
            <a href="{{ "/works/" | locale_url }}#{{ work.data.title['en'] | slugify }}" itemprop="url">
                <span itemprop="name">{{ work.data.title[page.lang] }}</span>
                <span class="a"></span>
            </a>
        </p>
        <p class="extra">
            <span itemprop="material">{{ work.data.extra[page.lang] }}</span>{% if work.data.size %}, <span itemprop="size">{{ work.data.size | size_i18n(page.lang) }}</span>{% endif %}
        </p>
    </div>
    {# <a tabindex="-1" href="/works#{{ work.data.titleEnglish | slugify }}"><span tabindex="0"></span></a> #}
</div>