@import 'variables';

$footerPaddingVertical: $defaultGap;
$footerFontSize: 0.7em;
$footerHeight: calc(2 * $footerPaddingVertical + $footerFontSize);

footer {
    padding: $footerPaddingVertical $defaultGap;
    font-size: $footerFontSize;
}