@import 'variables';

$headerMaxHeight: 150px;
$headerMinHeight: 55px;
$nameFontSize: 30px;
$headerPreferredHeight: calc(2 * $defaultGap + $nameFontSize);

$headerHeight: clamp($headerMinHeight, $headerPreferredHeight, $headerMaxHeight);

header {
    display: flex;
    position: sticky;
    top: 0;
    height: $headerPreferredHeight;
    min-height: $headerMinHeight;
    max-height: $headerMaxHeight;
    box-sizing: border-box;
    z-index: 2;
    align-items: center;

    padding-inline: $defaultGap;
    background-color: #fff;
    font-size: $nameFontSize;

    a:focus-visible {
        outline: $focusOutline;
        outline-offset: 1.5px;
    }

    #name {
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }

    #info {
        height: 19px;
        aspect-ratio: 1;
        margin-left: 6px;
        margin-top: 6px;
        
        svg {
            display: block;
            overflow: visible;
        }
    }
}