@import 'variables';

$footerPaddingVertical: 30px;
$footerFontSize: 0.7em;
$footerHeight: calc(2 * $footerPaddingVertical + $footerFontSize);

#footer-content {
    padding: $footerPaddingVertical $textOffsetHorizontal;
    font-size: $footerFontSize;
    text-align: end;
    // background-color: white;
    // position: relative;
}