@import 'variables';

$headerHeight: 10vh;
$headerMaxHeight: 150px;
$headerMinHeight: 55px;
$nameFontSize: 30px;

header {
    display: flex;
    // position: fixed;
    position: sticky;
    top: 0;
    height: $headerHeight;
    min-height: $headerMinHeight;
    max-height: $headerMaxHeight;
    box-sizing: border-box;
    z-index: 1;
    // justify-content: space-between;
    align-items: center;
    // font-size: 1.3em;
    // width: 100vw;
    // min-width: $minWidth;

    padding-inline: $textOffsetHorizontal;
    // margin: 0 $textOffsetHorizontal;
    background-color: #FFF;
    font-size: $nameFontSize;

    #name {
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }

    #info {
        height: 19px;
        aspect-ratio: 1;
        margin-left: 6px;
        margin-top: 6px;
        
        svg {
            display: block;
            overflow: visible;
        }
    }
}