$textOffsetHorizontalMin: 30px;
$textOffsetHorizontal: max(5vw, $textOffsetHorizontalMin);
$defaultGap: 20px;
$minWidth: 250px;
$desktopWorksListBreakpoint: 425px;
$desktopSingleWorkBreakpoint: 650px;