@import 'variables';

$maxCardWidth: $desktopWorksListBreakpoint;
$minCardMobileWidth: 180px;
$minCardDesktopWidth: 180px;
$maxCardDesktopWidth: 380px;

.card {
    position: relative;
    overflow-wrap: break-word;

    // min-width: $minCardMobileWidth;
    max-width: $maxCardWidth;

    .imageContainer {
        width: 100%;
        aspect-ratio: 4/3;
        background-color: #eee;
    }

    picture {
        display: block;
        aspect-ratio: 4 / 3;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .description {

        .title {
            margin: 0;
            font-weight: bold;
        }

        .extra {
            margin: 0;
            font-size: 0.8em;
            color: #444;;
        }
    }

    a {
        position: static;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}