@import 'base';
@import 'default-header';
@import 'default-footer';
@import 'work-card';

main {
    min-height: calc(100vh - $headerHeight - $footerHeight);
}

.cardContainer {
    padding-top: calc($focusOffset + $focusOutlineWidth);
    position: relative;
    padding-inline: $defaultGap;

    .card {
        margin-bottom: $defaultGap;
        
        a {
            outline: inherit;
            text-decoration: inherit;
            color: inherit;
        
            &:focus-visible span {
                outline: $focusOutline;
                outline-offset: $focusOffset;
            }
        }
    }
}

@media (min-width: $maxCardWidth) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($minCardDesktopWidth, 1fr));
        grid-auto-rows: 1fr;
        padding-inline: $defaultGap;
        gap: $defaultGap;
        
        .card {
            margin: 0;
            min-width: $minCardDesktopWidth;
            max-width: $maxCardDesktopWidth;
            aspect-ratio: 1;
        }
    }
}