@import 'base';
@import 'default-header';
@import 'default-footer';
@import 'work-card';

footer {
    padding-top: 0;
}

.cardContainer {
    position: relative;
    .card {
        margin-bottom: $defaultGap;
    }
}

@media (min-width: $maxCardWidth) {

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($minCardDesktopWidth, 1fr));
        grid-auto-rows: 1fr;
        padding-inline: $textOffsetHorizontal;
        gap: $defaultGap;
        
        .card {
            margin: 0;
            min-width: $minCardDesktopWidth;
            max-width: $maxCardDesktopWidth;
            aspect-ratio: 1;
    
            &:last-child {
                margin-right: auto;
            }
        }
    }

}

header,
footer,
.cardContainer {
    padding-inline: $defaultGap;
}