@import 'base';
@import 'variables';
@import 'default-header';
@import 'default-footer';

main {
    margin-inline: $defaultGap;
    min-height: calc(100vh - $headerHeight - $footerHeight);
    min-height: calc(100svh - $headerHeight - $footerHeight);
    display: flex;
    gap: $defaultGap;
    flex-wrap: wrap;
}

#photo {
    max-width: 100%;
}

@media (min-width: $desktopWorksListBreakpoint) {
    #photo-and-contacts,
    #text {
        flex: 1;
    }
}