@import 'base';
@import 'default-header';
@import 'default-footer-content';

$workInfoWidth: 28ch;
$imagesContainerHeightVH: calc(100vh - 2 * $defaultGap);
$imagesContainerHeightSVH: calc(100svh - 2 * $defaultGap);

main {
    margin-top: calc(-1 * $headerHeight);
}

header,
.footer-content,
.workInfo {
    padding-inline: $defaultGap;
}

.workContainer {
    display: grid;
    grid-template-columns: 0fr 1fr;
}

.workInfo {
    width: $workInfoWidth;
    display: block;
    height: fit-content;
    position: sticky;
    margin-top: auto;
    bottom: $defaultGap;
    padding-top: $defaultGap;

    .title {
        font-weight: bold;
        font-size: 1.1em;
    }

    .extra {
        font-size: 0.9em;
    }
}

.imagesContainer {
    height: fit-content;
    max-height: $imagesContainerHeightVH;
    max-height: $imagesContainerHeightSVH;

    // Just a fallback: scrollbar width causes problems
    max-width: calc(100vw - $workInfoWidth - 4 * $defaultGap);
    max-width: -webkit-fill-available;
    max-width: -moz-available;

    margin-top: $defaultGap;
    margin-right: $defaultGap;

    z-index: 1;
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    gap: $defaultGap;
    align-items: end;

    .imageWrapper {
        max-height: inherit;
        max-width: inherit;
        height: fit-content;
        width: fit-content;

        position: relative;
        .trueImage {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #eee;
            z-index: -1;
        }
    }

    img {
        max-width: inherit;
        max-height: inherit;
    }
}