@import 'base';
@import 'variables';
@import 'default-header';
@import 'default-footer-content';

$drawerHeight: 4em;
$minDesktopWidth: 700px;
$arrowDesktopWidth: 20px;

main {
    // min-height: calc(100vh - $;
    min-height: calc(100svh - $footerHeight - $headerHeight);
}

footer {
    display: none;
}

#text #footer-content {
    padding-inline: 0;
}

#imagesContainer {
    padding-inline: $textOffsetHorizontal;
    height: calc(100vh - $headerHeight - $drawerHeight);
    height: calc(100svh - $headerHeight - $drawerHeight);
    overflow-y: auto;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    gap: $defaultGap;

    picture {
        max-height: 70vh;
        max-height: 70svh;

    }

    img {
        height: 100%;
        max-height: inherit;
        max-width: 100%;
    }
}

// #marginDiv {
//     // height: 100vh;
//     // height: -moz-available;
//     // height: -webkit-fill-available;
//     // height: fill-available;
//     // height: stretch;
//     margin-top: -$drawerHeight;
//     pointer-events: none;
// }

#drawer {
    position: relative;
    // margin-top: calc(100vh - $drawerHeight);
    // width: 100vw;
    // min-height: $drawerHeight;
    background-color: white;
    // margin-top: calc(100vh - $drawerHeight);
    // margin-ts    op: calc(100svh - $drawerHeight);
    
    #firstline {
        display: flex;
        height: $drawerHeight;
        align-items: center;
        padding-inline: $textOffsetHorizontal;
        font-weight: bold;

        #description {
            margin-inline: $defaultGap;
            height: min-content;
            flex: 1;
        }
    }

    #text {
        padding-inline: $textOffsetHorizontal;
        overflow: auto;
        line-height: 150%;
        
        @media (max-width: $desktopSingleWorkBreakpoint) {
            max-height: 50vh;
            max-height: 50svh;
        }
    }
}

.arrow {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    a {
        position: static;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &[href=""] {
            pointer-events: none;
            & + svg polyline {
                stroke: #888;
            }
        }
    }

    svg {
        height: 100%;
        max-width: 100%;

        polyline {
            stroke-width: 3px;
        }
    }

    &.prev {
        transform: rotate(180deg);
    }

    &.up {
        position: absolute;
        top: calc(-1 * $drawerHeight / 2);
        left: 0;
        height: auto;
        width: 100%;
        text-align: center;
        margin: 0;
        
        svg polyline {
            transform: rotate(-90deg);
            transform-origin: center;
        }
    }
}

@media (min-width: $desktopSingleWorkBreakpoint) {
    footer {
        display: initial;
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
        gap: $defaultGap;
    }

    #imagesContainer {
        position: initial;
        height: auto;
        // justify-content: end;
        padding-left: 0;
        overflow-y: initial;
        order: 2;
    }

    #drawer {
        // font-size: 12px;
        position: sticky;
        top: $headerHeight;
        // position: initial;
        width: 30ch;
        // margin-top: calc(-1 * $headerHeight);
        margin-left: $textOffsetHorizontal;
        order: 1;
        height: fit-content;

        #footer-content {
            display: none;
        }

        #firstline {
            // position: sticky;
            // top: $headerHeight;
            // background-color: #fff;
            padding: 0;
            // z-index: 1;
            // height: $headerHeight;
            // margin-left: -$defaultGap - $arrowDesktopWidth;
            // margin-right: - $arrowDesktopWidth;
            height: fit-content;
            margin-left: calc(-1 * $arrowDesktopWidth - $defaultGap / 2);
            margin-right: 0;
            // min-height: $headerMinHeight;
            // max-height: $headerMaxHeight
            #description {
                margin-inline: $defaultGap / 2;
            }
        }


        #text {
            padding: 0;
        }

        .arrow {
            margin: 0;
            width: initial;
            &.up {
                display: none;
            }
        }
        
    }
}