@import 'base';
@import 'default-header';
@import 'default-footer';

$workDescriptionTitleFontSize: 1.1rem;
$workDescriptionExtraFontSize: 0.9rem;

$workInfoWidth: 28ch;
$workInfoPadding: calc($defaultGap / 4) calc($defaultGap / 2) calc($defaultGap / 2);

$workInfoTextHeight: calc($workDescriptionTitleFontSize + $workDescriptionExtraFontSize);
$workInfoHeight: calc($defaultGap + $workInfoTextHeight);

$imagesContainerHeightMobileVH: calc(100vh - $headerHeight - $workInfoHeight);
$imagesContainerHeightMobileSVH: calc(100svh - $headerHeight - $workInfoHeight);
$imagesContainerHeightDesktopVH: calc(100vh - 2 * $defaultGap);
$imagesContainerHeightDesktopSVH: calc(100svh - 2 * $defaultGap);

$worksGap: $defaultGap;

footer {
    #text {
        margin-inline: calc($defaultGap / 2);
        text-align: end;
    }
}

main {
    margin-top: calc(-1 * $defaultGap);
    min-height: calc(100vh - $headerHeight - $footerHeight);
    min-height: calc(100svh - $headerHeight - $footerHeight);
}

.workInfo {
    display: block;
    height: fit-content;
    position: sticky;
    bottom: 0;
    margin-top: calc(-1 * $defaultGap / 4);
    padding: calc($defaultGap / 2);
    text-align: end;

    background-color: #fff;

    .title {
        font-weight: bold;
        font-size: $workDescriptionTitleFontSize;
    }

    .extra {
        font-size: $workDescriptionExtraFontSize;
    }
}

.workDescription {
    word-wrap: break-word;

    &.mobile {
        padding-inline: calc($defaultGap / 2);
        margin-top: calc(-1 * $defaultGap / 3);
        text-align: end;
        position: relative;
        z-index: 1;

        &:empty {
            padding: 0;
        }
    }

    &.desktop {
        display: none;
    }
}

.imagesContainer {
    height: fit-content;
    max-height: $imagesContainerHeightMobileVH;
    max-height: $imagesContainerHeightMobileSVH;

    // Just a fallback: scrollbar width causes problems
    max-width: 100vw;
    max-width: -webkit-fill-available;
    max-width: -moz-available;

    z-index: 2;
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    gap: $worksGap;

    .imageWrapper {
        max-height: inherit;
        max-width: inherit;
        height: fit-content;
        width: fit-content;

        position: relative;
        .trueImage {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #eee;
            z-index: -1;
        }
    }

    img {
        max-width: inherit;
        max-height: inherit;
    }
}

.workContainer {
    padding-block: $worksGap;
    outline: none;

    &:focus-visible .workInfo .short {
        outline: $focusOutline;
        outline-offset: calc($focusOffset / 3);
    }

    &:target .workInfo .short {
        outline: none;
    }
}

@media (max-width: $desktopSingleWorkBreakpoint) {
    // Fixed header anchor problem workaround
    .workContainer {
        // padding-top: calc($headerHeight - $worksGap);
        padding-top: calc($headerHeight);
        // margin-top: calc(-1 * $headerHeight + $worksGap);
        margin-top: calc(-1 * $headerHeight);
    }
}

@media (min-width: $desktopSingleWorkBreakpoint) {
    main {
        margin-top: calc(-1 * $headerHeight);
    }

    footer {
        #text {
            margin-inline: $defaultGap;
            text-align: start;
        }
    }

    .workContainer {
        display: grid;
        grid-template-columns: 0fr 1fr;

        &:focus-visible .workInfo {
            outline-offset: calc($focusOffset - $defaultGap);
        }
    }

    .workDescription {
        &.mobile {
            display: none;
        }

        &.desktop {
            margin-block: $defaultGap;
            display: block;
        }
    }

    .workInfo {
        order: 1;
        width: $workInfoWidth;
        // bottom: 0;
        padding: 0 $defaultGap 0;
        margin-block: auto calc(-1 * $defaultGap);
        text-align: initial;

        .short {
            display: flex;
            flex-direction: column-reverse;
            position: sticky;
            bottom: 0;
            padding: $defaultGap;
            margin-top: calc(-1 * $defaultGap);
            margin-inline: calc(-1 * $defaultGap);

            background-color: inherit;
        }
    }

    .imagesContainer {
        order: 2;
        margin-right: $defaultGap;
        align-items: end;

        max-height: $imagesContainerHeightDesktopVH;
        max-height: $imagesContainerHeightDesktopSVH;
        
        // Just a fallback: scrollbar width causes problems
        max-width: calc(100vw - $workInfoWidth - 4 * $defaultGap);
        max-width: -webkit-fill-available;
        max-width: -moz-available;
    }
}