@import 'base';
@import 'default-header';
@import 'default-footer';

$workDescriptionTitleFontSize: 1.1rem;
$workDescriptionExtraFontSize: 0.9rem;

$workInfoWidth: 28ch;

$workInfoTextHeight: calc($workDescriptionTitleFontSize + $workDescriptionExtraFontSize);
$workInfoHeight: calc($defaultGap + $workInfoTextHeight);

$imagesContainerHeightMobileVH: calc(100vh - $headerHeight - $workInfoHeight);
$imagesContainerHeightMobileSVH: calc(100svh - $headerHeight - $workInfoHeight);
$imagesContainerHeightDesktopVH: calc(100vh - 2 * $defaultGap);
$imagesContainerHeightDesktopSVH: calc(100svh - 2 * $defaultGap);

header,
footer,
.workInfo {
    padding-inline: $defaultGap;
}

footer {
    text-align: end;
    padding-inline: calc($defaultGap / 2);
}

main {
    margin-top: calc(-1 * $defaultGap);
}

.workInfo {
    display: block;
    height: fit-content;
    position: sticky;
    margin-top: auto;
    bottom: 0;
    padding: calc($defaultGap / 4) calc($defaultGap / 2) calc($defaultGap / 2);
    text-align: end;

    background-color: #fff;

    .title {
        font-weight: bold;
        font-size: $workDescriptionTitleFontSize;
    }

    .extra {
        font-size: $workDescriptionExtraFontSize;
    }
}

.imagesContainer {
    height: fit-content;
    max-height: $imagesContainerHeightMobileVH;
    max-height: $imagesContainerHeightMobileSVH;

    // Just a fallback: scrollbar width causes problems
    max-width: 100vw;
    max-width: -webkit-fill-available;
    max-width: -moz-available;

    margin-top: $defaultGap;

    z-index: 1;
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    gap: $defaultGap;

    .imageWrapper {
        max-height: inherit;
        max-width: inherit;
        height: fit-content;
        width: fit-content;

        position: relative;
        .trueImage {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #eee;
            z-index: -1;
        }
    }

    img {
        max-width: inherit;
        max-height: inherit;
    }
}

@media (min-width: $desktopSingleWorkBreakpoint) {
    main {
        margin-top: calc(-1 * $headerHeight);
    }

    footer {
        text-align: start;
        padding-inline: $defaultGap;
    }

    .workContainer {
        display: grid;
        grid-template-columns: 0fr 1fr;
    }

    .workInfo {
        order: 1;
        width: $workInfoWidth;
        bottom: $defaultGap;
        padding: $defaultGap $defaultGap 0;
        text-align: initial;

        display: flex;
        flex-direction: column-reverse;
    }

    .imagesContainer {
        order: 2;
        margin-right: $defaultGap;
        align-items: end;

        max-height: $imagesContainerHeightDesktopVH;
        max-height: $imagesContainerHeightDesktopSVH;
        
        // Just a fallback: scrollbar width causes problems
        max-width: calc(100vw - $workInfoWidth - 4 * $defaultGap);
        max-width: -webkit-fill-available;
        max-width: -moz-available;
    }
}