---
title: 'Lena Mukosey'
style: 'index.css'
layout: 'base.njk'
---

<div class="cardContainer">
    {% asyncEach work in collections.worksSortedRespectingOrder %}
        {% include "work-card.njk" %}
    {% endeach %}
</div>