@use 'variables' as var;

@use 'base';
@use 'header';
@use 'footer';

main {
    padding-inline: var.$defaultGap;
    min-height: calc(100vh - header.$height - footer.$height);
    min-height: calc(100svh - header.$height - footer.$height);
    display: grid;
    gap: var.$defaultGap;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: var.$desktopInfoBreakpoint) {
    main {
        grid-template-columns: 1fr 1fr;

        .textContainer {
            order: -1;
        }

        .text {
            position: sticky;
            top: header.$height;
        }

        .photo-and-contacts {
            margin-top: calc(-1 * header.$height + var.$defaultGap);
            z-index: calc(header.$zindex + 1);
        }
    }
}