---
title: 'Lena Mukosey'
style: 'works.css'
layout: 'base.njk'
---

{% asyncEach work in collections.worksSortedRespectingOrder %}
    <div id="{{ work.data.titleEnglish | slugify }}" class="workContainer">
                    {# [250, 300, 400, 450, 500, 550, 600, 650, 700, 750, 800, 'auto'], #}
        <div class="imagesContainer">
            {% asyncEach image in work.data.images %}
                {% imageWithPlaceholder image,
                    "",
                    [250, 500, 700, 'auto'],
                    "(max-width: 650px) 100vw,
                    calc(100vw - $workInfoWidth - 4 * $defaultGap)
                    "
                %}
                {# <img src="{{ work.data.image }}" alt="Alt!"> #}
            {% endeach %}
        </div>
        <div class="workInfo">
            <div class="title">
                {{ work.data.title }}
            </div>
            <div class="extra">
                {{ work.data.extra }}
            </div>
        </div>
    </div>
{% endeach %}