---
title: 'Lena Mukosey'
style: 'works.css'
layout: 'base.njk'
---

{% asyncEach work in collections.worksSortedRespectingOrder %}
    <div id="{{ work.data.titleEnglish | slugify }}" class="workContainer" tabindex="0">
        <div class="imagesContainer" tabindex="-1">
            {% asyncEach image in work.data.images %}
                {% imageWithPlaceholder image,
                    "",
                    [250, 500, 700, 'auto'],
                    "(max-width: 650px) 100vw,
                    calc(100vw - $workInfoWidth - 4 * $defaultGap)
                    "
                %}
                {# <img src="{{ work.data.image }}" alt="Alt!"> #}
            {% endeach %}
        </div>
        <div class="workDescription mobile">{{ work.data.text }}</div>
        <div class="workInfo">
            <div class="workDescription desktop">
                {{ work.data.text }}
            </div>
            <div class="short">
                <div class="title">
                    {{ work.data.title }}
                </div>
                <div class="extra">
                    {{ work.data.extra }}
                </div>
            </div>
        </div>
    </div>
{% endeach %}